#joinable-community-panel {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e0e0e0;
}

#joinable-community-panel_content {
  display: flex;
  flex-direction: row;
  padding: 20px;
}