.editable-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  padding: 5px 10px;
  background: none;
  flex-wrap: wrap;

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.h1 {
    border-bottom: 1px solid #e0e0e0;
  }

  &.changed {
    box-shadow: inset 0 0 10px rgba(255, 165, 0, 0.5);
  }

  .metadata-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
  }

  .h1-edit {
    font-size: 2.986rem;
    line-height: 2.986rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // border: none;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }

  .text-area-edit {
    // border: none;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    min-width: 25%;
  }

  .row-content {
    width: 95%;
    min-height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  .row-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}