.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
  width: max-content;
  transition: all 0.2s;

  &:hover {
    background-color: rgba(var(--color-shadow), 0.2);
    box-shadow: 0 2px 4px rgba(var(--color-shadow), 0.2);
  }

  &.expanded {
    padding: 2px 6px;
  }

  &.black {
    p {
      color: var(--color-text-primary);
    }
  }
  &.red {
    border-color: var(--color-red);
    p {
      color: var(--color-red);
    }
    img {
      filter: invert(41%) sepia(84%) saturate(6748%) hue-rotate(346deg)
        brightness(98%) contrast(91%);
    }
  }

  &.border {
    border-width: 1px;
    border-style: solid;
  }

  &.small {
    height: 0.8rem;
    img {
      width: 0.8rem;
      height: 0.8rem;
    }
    p {
      font-size: 0.6rem;
    }
  }
  &.medium {
    height: 1rem;
    img {
      width: 1rem;
      height: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
  &.large {
    height: 1.8rem;
    img {
      width: 1.8rem;
      height: 1.8rem;
    }
    p {
      font-size: 1.44rem;
    }
  }
}
