.tree-node {
  &:hover {
    background-color: #f5f5f5;
  }
  p {
    display: inline;
  }
}

.tree-node.selected {
  background-color: #e0e0e0;
}

.context-small {
  font-size: 0.65em;
  font-style: italic;
  font-weight: lighter;
}
