.side-panel-row {
  display: grid;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  grid-template-columns: 24px 1fr auto;
  gap: 0.5rem;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--color-background-hover);
  }

  &.selected {
    background-color: var(--color-background-selected);
  }

  .row-content {
    display: flex;
  }
}