.metadata-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-panel-header {
  .p-panel-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
