.map-details-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  border: 1px solid #e0e0e0;

  .p-panel-header {
    padding: 0.5rem 1rem;
  }

  .p-panel-content {
    padding: 1rem;
  }
}

.map-layers-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  border: 1px solid #e0e0e0;

  .layers-action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;

    .action-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      vertical-align: middle;
      padding: 0.5rem;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
    }
  }

  .p-panel-header {
    padding: 0.5rem 1rem;
  }

  .p-panel-content {
    padding: 1rem;
  }
}

.map-layers-split-panel {
  padding: 1rem;
}