.world-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2), 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }

  transition: background-color 0.3s;

  &:active {
    background-color: greenyellow;
  }
}
